{% extends 'base.html' %}
{% block title %}
    Home
{% endblock %}
{% block content %}
    <!-- Content div -->
    <div class="row">
        {% for thread in page_obj %}
            <div class="col-md-4">
                <h3><a class="link-secondary" href="\details\?id={{thread.id}}">{{ thread.title|upper }}</a></h1><br>
            </div>
        {% endfor %}
    </div>
    <!-- Pagination div -->
    <div class="position-absolute bottom-5  h4">
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <!-- display current page -->
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
{% endblock %}
