<nav>
    <ul>
        <li>
            <a class="navbar-brand" href="{% url 'Register' %}">Register</a>
        </li>
        <li>
            <a class="navbar-brand" href="{% url 'Login' %}">Login</a>
        </li>
        <li>
            <a class="navbar-brand" href="{% url 'Home' %}">Home</a>
        </li>
        <li>
            <a class="navbar-brand" href="{% url 'Profile' %}">Profile</a>
        </li>
        <li>
            <a class="navbar-brand" href="{% url 'New Post' %}">New Post</a>
        </li>
    </ul>
</nav>